<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconName</key>
    <string>icon</string>
    <key>CFBundleIconFile</key>
    <string>icon</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Enhanced Presence needs access to Apple Music to display your current track in Discord Rich Presence.</string>
</dict>
</plist>